.background{

    background-image: url("https://www.fg-a.com/wallpapers/black-background-geometric-shapes.jpg");
    width : 99%;
    height: 98%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.heightpage
{
    font-family: 'Trebuchet MS';
    font-size: 88px;
    color: aliceblue;
    text-shadow: 1px 1px 8px red;
}
.textboxid
{
    background: rgba(0, 0, 0, 0.01);
    width: 100px;
    height: 50px;
    color: rgba(244, 248, 255, 1);
    font-size:30px;
    border: 3px solid aliceblue;
}

.units{
     color: rgba(244, 248, 255, 1);
    font-size: 48px;
    margin-left: 10px;
}

button {
    position: absolute;
    left: 44%;
    border: hidden;
    cursor:pointer;
    height:  38px;
    line-height:  40px;
    background: grey;
    text-align:  center;
    width:  140px;
    color:  aliceblue;
                 }
button:hover  {
         color:  black;
         background:  aliceblue;
                 }

.u{
    color: aliceblue;
    font-size:  24px;
    font-family: 'Trebuchet MS'; 
     
}
.u:hover{
     color:  black;
}