.background{

    background-image: url("https://www.fg-a.com/wallpapers/black-background-geometric-shapes.jpg");
    width : 99%;
    height: 98%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*background-image: radial-gradient(black, black, grey,black, grey, black, black);*/
}